In [3]:
import pandas as pd

In [90]:
train = pd.read_table("/Users/amyburkhardt/Dropbox/NLP Readings/hw 1/POS-training.txt",'\t', header=None, names = ['number', 'word', 'tag'])

In [126]:
counts = train.groupby(['word', 'tag']).agg('count')
counts

                 number
word       tag
'          POS       72
'd         MD      1161
'll        MD        87
'm         VBP      711
're        VBP       41
's         POS      506
           PRP      425
           VBZ      437
've        VBP       53
-          HYPH     539
.          .      14901
;          :          5
a          DT      2385
a__m       NN        11
about      IN      2551
           RB       181
account    NN         9
actual     JJ         1
actually   RB        41
addison    NN         6
additional JJ        47
address    NN         5
affordable JJ         6
africa     NN         4
african    JJ        53
           NN        23
after      IN        36
afternoon  NN        17
afterwards RB         6
again      RB       262
...                 ...
wine       NN        23
wish       VBP        8
with       IN       187
within     IN       288
without    IN         3
wo         MD        10
won        VBD        9
           VBN        6
wondering  VBG        4
work       NN        17
           VB        12
worried    JJ         9
would      MD      1633
wrong      JJ        18
yangtze    NN        30
yeah       UH        21
yen        NN         9
yes        UH        18
yesterday  NN         8
yet        RB         7
yogurt     NN        10
yorkshire  JJ        13
yoshi      NN         7
           NNP        4
yoshi's    PRP        6
you        PRP     1246
your       PRP$      83
yuppie     NN        10
zachary    NNP       27
zachary's  NNP        1

[1625 rows x 1 columns]

In [143]:
# get count of tags
idx = counts.groupby(['word','tag',])['number'].transform(max) == counts['number']